.App {
  text-align: center;
}

.toDos-list {
  width:15vw;
  text-align: left;
  margin:0.5% 45%;
  
}

input {
  width:fit-content;
  height: fit-content;
}

label {
  width:fit-content;
}

input + label {
  font-style:normal;
}

input:checked + label {
  text-decoration: line-through;
  font-style:italic;
}
